rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isOwner(uid) {
      return signedIn() && request.auth.uid == uid;
    }

    function isAdmin() {
      return signedIn() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
    }

    match /users/{userId} {
      allow create: if isOwner(userId);
      allow read, update: if isOwner(userId) || isAdmin();
      allow delete: if false;

      match /documents/{docId} {
        allow create, read, update, delete: if isOwner(userId) || isAdmin();
      }

      match /phoneContacts/{docId} {
        allow create, read, update, delete: if isOwner(userId) || isAdmin();
      }
    }

    match /loanApplications/{applicationId} {
      allow read: if isAdmin() || (signedIn() && resource.data.uid == request.auth.uid);
      allow create: if signedIn()
        && request.resource.data.uid == request.auth.uid;
      allow update: if isAdmin();
      allow delete: if false;
    }

    match /loans/{loanId} {
      allow read, update: if isAdmin() || (signedIn() && resource.data.uid == request.auth.uid);
      allow create: if isAdmin();
      allow delete: if false;

      match /repaymentSchedules/{scheduleId} {
        allow read, update: if isAdmin() || (signedIn()
          && get(/databases/$(database)/documents/loans/$(loanId)).data.uid == request.auth.uid);
        allow create: if isAdmin();
        allow delete: if false;
      }
    }
  }
}
